<!DOCTYPE html>
<html>
	<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">	
	</head>
	<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>

	<div class="all-decisions" id="decisions-pad">
		<% 	for (var i = 0; i < defaultCriteria.length; i ++ ){ %>
			<div class="decision color-<%= i % 5 + 1 %>" id="decision-<%= i %>" draggable="true"><%= defaultCriteria[i] %></div>

		<% } %>
	</div>
	<table id="sample" width="100%">
		<thead>
			<tr>
				<th class="disabled" id="choice-heading">Choices</th>
				<th class="computed-width priorities" id="priority-1"> + <span class="percent"></span> </th>
				<th class="computed-width priorities" id="priority-2"> + <span class="percent"></span></th>
				<th class="computed-width priorities" id="priority-3"> + <span class="percent"></span></th>
				<th class="computed-width priorities" id="priority-4"> + <span class="percent"></span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="disabled">Choice 1</td>
				<% for(var j = 0; j < numCriteria; j++ ){ %>
				<td>
					<select>
					<%	for(var i = 1; i <= rankRange; i ++){ %>
						<option value=<%= i %>><%= i %></option>
				
					<% } %>
					</select>
				</td>
				<% } %>
			</tr>
			<tr>
				<td class="disabled">Choice 2</td>
				<td> 5 </td>
				<td> 5 </td>
				<td> 5 </td>
				<td> 5 </td>
			</tr>
		</tbody>
	</table>

	<div id="final-test"></div>

	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/colresizable-1.6.min.js"></script>
	<script>
		$(function(){
			function allowDrop(ev) {
			    ev.preventDefault();
			}



			function drop(ev) {
			    ev.preventDefault();
			    var data = ev.dataTransfer.getData("text");
			    ev.target.appendChild(document.getElementById(data));
			}
			//finding a class called color-n, cycles to next class color from 1 to numColors
			var cycleColor = function(e) {
				var numColors = <%= numColors %>;
				var element = $(e.currentTarget);
				var colorClass = element.attr("class").match(/color-\d/)[0];
				var currentColor = parseInt(colorClass.substr(colorClass.length - 1));
				if (currentColor === numColors){
					var newColor = 1
				} else {
					var newColor = currentColor + 1;
				}
				element.removeClass(colorClass);
				element.addClass("color-" + String(newColor));
			}

			// Adds % widths for each column in table with 'computed-width' css classes on headers
			var computeWidths = function(){
				// cannot trust that sum of all columns = width of table due to margin, border, and browser overflow rules
				var totalWidth = 0;

				$(".computed-width").each(function() {
				totalWidth += $(this).width();
				});
				$(".computed-width").each(function() {
					$(this).children(".percent").text(String(Math.round($(this).width() / totalWidth * 100)) + "%"); 
				});
			};

			//callback for column resizable
			var onSampleResized = function(e){	
				var table = $(e.currentTarget); //reference to the resized table
				computeWidths();
			};

			// initialize column Resizable
			$("#sample").colResizable({
				resizeMode:'fit',
				liveDrag:true,
				postbackSafe:true,
				partialRefresh:true,
				draggingClass:"dragging",
				onResize: onSampleResized,
				disabledColumns: [0],
				onDrag: onSampleResized
			});

			$(document).ready(function(){
				// compute initial column widths
				computeWidths();
				// add onclick event to cycle color for all decisions
				$('.decision').click(cycleColor);
				// make all decisions draggable
				$('.decision').on("dragstart", function (event) {
					event.originalEvent.dataTransfer.setData("text", event.target.id);
				});
				// make all-decisions and priorities droppable
				$('.all-decisions, .priorities').on("drop", function(event){
					event.preventDefault();
				  	event.stopPropagation();
				    var data = event.originalEvent.dataTransfer.getData("text");
				    event.target.appendChild(document.getElementById(data));
				});
				$('.all-decisions, .priorities').on("dragover", function(event){
					event.preventDefault();
					event.stopPropagation();
				});
			})
		});
	</script>
	</body>
</html>
